# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# OS junk
.DS_Store

# IDE
.vscode/
.idea/

# PDFs
Manuscripts/*.pdf

# XML files
jats_cache/*.xml 
tei_cache/*.xml 

# Project-specific
input/
pubmed_access.py
